.input-box{
    background-color: #141d25;
    padding: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #2F88E2;
    border-style: solid;
    /* width: 30%; */
    flex-direction: column;
    justify-content: center;
    display: flex;
    
  }

.toggle-card{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 10%;
}

.input-title{
  margin-bottom: 3%;
  font-size:small;
  font-weight: 500;
  color: #5a778a;
}

.input-box-title{
  align-self:center;
  margin-bottom: 4%;
  font-size:large;
  font-weight: 500;
  color: #66B2FF;
}


.gen-btn{
  margin-top: 5%;
}
@media (max-width: 768px) {
  .toggle-card {
    margin-bottom: 7%;
  }
  .input-box {
    padding: 5%;
  }
}